{% extends "auth/layout.html" %}
{% load static %}
{% block auth-content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>
        <p>{{ form.password.label_tag }}</p>
        <p>{{ form.password }}</p>

        <p><input id="login-btn" type="submit" value="Login"/></p>
        <p><input type="hidden" name="next" value="{{ next }}"/></p>
    </form>

    <div class="mt-5 lg:flex lg:justify-between font-semibold">
        <div><a href="{% url 'create_account' %}">Create Account</a></div>
        <div><a href="{% url 'password_reset' %}">Reset Password</a></div>
    </div>

{% endblock auth-content %}