{% extends "auth/layout.html" %}
{% load static %}
{% block auth-content %}

    {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <p class="arch-message arch-info-message">
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <div class="arch-form-field">
                <p class="arch-form-label">{{ form.new_password1.label_tag }}</p>
                <p class="arch-form-input-p">{{ form.new_password1 }}</p>
                <div class="arch-form-help-text">{{ form.new_password1.help_text }}</div>
                <div class="arch-form-field-error">{{ form.new_password2.errors }}</div>
            </div>
            <div class="arch-form-field">
                <p class="arch-form-label">{{ form.new_password2.label_tag }}</p>
                <p class="arch-form-input-p">{{ form.new_password2 }}</p>
                <div class="arch-form-help-text">{{ form.new_password2.help_text }}</div>
            </div>

            <p class="mb-4">
                <input type="submit" name="submit" value="Change Password"
                       class="arch-form-btn arch-form-btn-primary w-full"/>
            </p>
            <p><input type="hidden" name="next" value="{{ next }}"/></p>
        </form>

        <div class="mt-5 font-semibold">
            <div>Or go to <a href="{% url 'login' %}">Login</a></div>
        </div>
    {% else %}
        <p class="arch-message arch-error-message">
            {{ "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." }}
        </p>
        <div class="mt-5 font-semibold">
            <div>Return to <a href="{% url 'login' %}">Login</a></div>
        </div>
    {% endif %}

{% endblock auth-content %}