{% extends "auth/layout.html" %}
{% load static %}
{% block auth-content %}

    <p class="arch-message arch-success-message">
        Password reset link sent
    </p>

    <p class="mt-4">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
    </p>

    <p class="mt-4">
        You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address
        you registered with, and check your spam folder.
    </p>

    <div class="mt-5 font-semibold">
        <div>Go back to the <a href="{% url 'login' %}">Login</a> page</div>
    </div>

{% endblock auth-content %}