{% extends 'console/organization/base.html' %}

{% block org-heading %}
    <i class="fas fa-edit mr-1.5"></i>Create Organization
{% endblock org-heading %}

{% block org-content %}

    <form method="post">
        {% csrf_token %}

        <div class="arch-form-field">
            <p class="arch-form-label">{{ form.name.label_tag }}</p>
            <p class="arch-form-input-p">{{ form.name }}</p>
            <div class="arch-form-help-text">{{ form.name.help_text }}</div>
            <div class="arch-form-field-error">{% for error in form.errors.name %} {{ error }}{% endfor %}</div>
        </div>

        <div class="arch-form-field">
            <p class="arch-form-label">{{ form.description.label_tag }}</p>
            <p class="arch-form-input-p">{{ form.description }}</p>
            <div class="arch-form-help-text">{{ form.description.help_text }}</div>
            <div class="arch-form-field-error">{% for error in form.errors.description %} {{ error }}{% endfor %}</div>
        </div>

        <p class="mb-4 flex justify-between">
            <a href="{% url 'arch-console-org-list' %}">
                <i class="fas fa-arrow-left mr-1.5"></i>Go back to organization list
            </a>
            <button type="submit" class="arch-form-btn arch-form-btn-primary">
                <i class="fas fa-save mr-1.5"></i>Create
            </button>
        </p>
    </form>

{% endblock org-content %}