{% extends 'console/organization/base.html' %}

{% block org-heading %}
    <i class="fas fa-trash mr-1.5"></i>Delete {{ organization.name }}
{% endblock org-heading %}

{% block org-content %}


    <form method="post">
        {% csrf_token %}

        <p>Do you really want to delete '{{ organization }}'?</p>

        <p class="mb-4 flex justify-between mt-5">
            <a href="{% url 'arch-console-org-list' %}">
                <i class="fas fa-arrow-left mr-1.5"></i>Go back to organization list
            </a>
            <button type="submit" class="arch-form-btn arch-form-btn-danger">
                <i class="fas fa-trash mr-1.5"></i>Yes, Delete
            </button>
        </p>
    </form>

{% endblock org-content %}