{% extends 'console/base.html' %}

{% block content %}
    Delete an organization

    <form method="post">
        {% csrf_token %}

        <p>Do you really want to delete '{{ organization }}'</p>

        <p class="mb-4">
            <input type="submit"
                   name="submit"
                   value="Yes, Delete"
                   class="arch-form-btn arch-form-btn-primary w-full"/>
        </p>
        <a href="{% url 'arch-console-org-list' %}">Go back to organization list</a>
    </form>

{% endblock content %}